@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --color--main: #766be8;
    --color--secondary: #f0f2f6;

    --loading-i: 3;
    --permissions-i:2;
    --application-i:1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-size: 62.5%;
}

img {
    width:100%;
}

video {
    width: 100%;
}
/* --- DEFAULT CLASSES --- */

.--flex {
    display: flex;
}

.--column {
    flex-direction: column;
}

.btn {
    font-size: 1.6em;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0.8em 1.6em;
    border-radius: 8px;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.--prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.btn--solid {
    color: var(--color--main);
    background-color: var(--color--secondary); 
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
}
.btn--solid:active {
    transform: scale(0.95);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}

.btn--outline {
    color: var(--color--secondary);
    background-color: transparent;
    border: 0.16em solid var(--color--secondary);
    box-shadow: 0 0 20px 5px rgba(255,255,255, 0.2);
}

.btn--outline:active {
    transform: scale(0.95);
    box-shadow: 0 0 10px 5px rgba(255,255,255, 0.2);
}

/* -- INITIAL CONTAINERS -- */

.container--outter {
    height: 100%;
    position: relative;
}

.section {
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all ease 0.3s;
}

/* -- SECTION: LOADING::INITIAL -- */

.section--loading {
    background-color: var(--color--main);
    z-index: var(--loading-i);
}

.section--loading-inner {
    height: 35em;
    max-width: 30em;
    justify-content: space-between;
    align-items: center;
    filter: opacity(0);
    transition: filter ease 0.8s;
}
.section--loading-inner.--show {
    filter: opacity(1);
}

.container--animation {
    width: 100%;
    height: 3.5em;
    gap: 1.6em;
    align-items: center;
}
.container--animation img {
    height: 100%;
    width: unset;
}

.container--animation .container--logo {
    width: 6.5em;
    height: 100%;
    position: relative;
    justify-content: center;
}

.container--animation .container--text {
    height: 100%;
}

/* --- Section: Permissions --- */

.section--permissions {
    background-color: var(--color--secondary);
    z-index: var(--permissions-i);
}

.container--permissions-inner {
    height: 35em;
    max-width: 30em;
    justify-content: space-around;
    align-items: center;
}

.container--permissions-inner .container--icon {
    height: 10em;
}

.container--icon img {
    height: 100%;
}

.section--permissions button {
    color: black;
}

.container--permissions-inner .container--text p {
    font-size: 1.7em;
    font-weight: 400;
}

.container--permissions-inner .container--text {
    gap: 1em;
}

.container--permissions-inner .list {
    justify-content: space-around;
    font-size: 1.6em;
}

/* --- SECTION: VIDEO --- */

.section--application {
    z-index: var(--application-i);
    background-color: var(--color--secondary);
}

.container.container--application {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container.container--application .container--application-inner {
    height: auto;
    max-width: 30em;
    align-items: center;
    gap: 2em;
}

.container.container--application-inner .container--text:first-child {
    align-items: center;
    gap: 1em
}

.container.container--application-inner .container--text h1.text.text--title {
    font-size: 2.2em;
    font-weight: 800;
    letter-spacing: -0.5px;
}

.container--application-inner .icon--dot {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: rgb(173, 0, 0);
}

.container.container--video {
    background-color: black;
    width: 30em;
    height: 30em;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.container.container--video video.video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.container.container--results {
    height: 30em;
    width: 100%;
    text-align: center;
    gap: 1em;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.08);
    padding: 15px;
    border-radius: 10px;
}

.container.container--results-inner {
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1) inset;
    border-radius: 5px;
    overflow-y: scroll;
}

.container.container--results h2.text--title {
    font-size: 1.7em;
    font-weight: 500;
    letter-spacing: 1px;
}

.container--application-inner .display--results {
    height: 100%;
    width: 100%;
    text-align:initial;
    padding: 10px;
    font-size: 1.6em;
    font-family: monospace;
    letter-spacing: 1px;
    font-weight: 500;
    overflow-x: hidden;
}

.container--application-inner .display--results p {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    position: relative;
}

.container--application-inner .display--results p:first-child {
    margin-top: 0;
}
.container--application-inner .display--results p:after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    bottom: -10px;
    height: 1px;
    background-color: black;
    margin: 4px 0;
}







.hidden {
    display: none;
    
}